@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #242C33;
    --foreground: #EBF4F9;

    --card: #010816;
    --card-foreground: #EBF4F9;

    --popover: #010816;
    --popover-foreground: #EBF4F9;

    --primary: #EBF4F9;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    --secondary-foreground: #EBF4F9;

    --muted: #1e293b;
    --muted-foreground: #94a3b7;

    --accent: #1e293b;
    --accent-foreground: #EBF4F9;

    --destructive: #7f1d1d;
    --destructive-foreground: #EBF4F9;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cad4e0;
    
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}